# Image files
*.tiff
*.tif
*.tfw
*.png
*.jpg
*.jpeg

# Shape files
*.shp
*.dbf
*.qpj
*.shx
*.prj

# Zip files
*.zip

# folders
**/01_Input/**
**/02_Output/**
**/03_Scripts/cache/**
**/04_Workspace/export/**
**/05_Report/**
**/TMP
**/TMP/**


# python files
**/03_Scripts/*.pyc
**/03_Scripts/pyModules/*.pyc
*.pyc
*.log

# other files
*.svgz
*.odg
*.qgs~
